/*
 * Heidelpay hCO form CSS to make their form look like a form from XING.
 *
 * IMPORTANT!
 * The hCO form is displayed inside an iframe of a XING page. The HTML delivered by Heidelpay and
 * displayed in the iframe contains a stylesheet link to this file. Therefore this file must be
 * available on its own and not be part of the asset pipeline.
 * The link to this file is passed to Heidelpay via the parameter FRONTEND.CSS_PATH when creating
 * a hCO session.
 *
 * IMPORTANT!
 * Make sure this file only contains CSS that is whitelisted by Heidelpay!
 */

/* Hide everything except the credit card part */
#debitCard, #directDebit, #contactBlock, #paymentBlock,
#userInfoBlock, #addressBlock, #onlineTransfer, #prepayCard, #invoice,
#prePayment, #userAccount, #virtualAccount, #notMandatoryRow,
#spacer1, #spacer2, #spacer3, #spacer4 {
  display: none;
}
table.bar {
  display: none;
}

/* The button panel */
table.mainTable {
  width: 100%;
  margin: 0;
}

body, textarea, input, button, select {
  font-family: Arial, Verdana, sans-serif;
}

textarea:focus, input:focus{
  outline: 0;
}

tr, td {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

td {
  text-align: left;
}

td.userInput {
  width: 877px;
  padding-bottom: 10px;
  display: block;
}

td.label {
  height: auto;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  font-weight: 700;
  padding-bottom: 0;
  display: block;
}

td.label label:after{
  content: '*';
}

.userInput input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #c9c9c9;
  border-radius: 2px;
  box-shadow: inset 1px 1px 1px #dfdfdf;
  cursor: auto;
  -webkit-user-select: text;
  font-size: 12px;
  padding: 7px;
}

.userInput select {
  height: 32px;
  margin: 0;
  top: 0;
  background: transparent;
  box-shadow: inset 1px 1px 1px #dfdfdf;
  cursor: auto;
  font-size: 12px;
  padding: 7px;
  vertical-align: middle;
  border: 1px solid #c8c8c8;
  border-radius: 2px;
}

.userInputSpan2 {
  width: 100%;
}

.userInputSmall {
  width: 727px;
}

#cvdRow a {
  color: #009090;
  text-decoration: none;
}

#cardTypeRow span {
  display:inline-block;
  margin-left: 30px;
}

select.userInputHalf {
  margin-right: 24px;
}

.frm_box {
  border-style: none;
  background-color: transparent;
}

.userInput select#brand {
  width: 250px;
}

input#cardNumber,
input#ccHolder {
  width: 400px;
}

input#cancel,
input#send {
  display: inline;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #e9f802;
  background-image: linear-gradient(to bottom, #e9f802 0%, #cfdc00 50%, #bdd300 100%);
  border-color: #dde87f #bbc280 #9cb800;
  border-image: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #333;
  float: right;
  font: bold 13px/15px Arial,Verdana,sans-serif;
  margin: 0 0 10px;
  padding: 5px 10px;
  text-shadow: 0 1px 2px #f1fa02;
  white-space: nowrap;
}

input#cancel {
  margin-right:10px;
  background-color: #FFFFFF;
  background-image: none;
  border-color: #DDDDDD;
}

/*
 * Frontend error message
 */
.frontend_message_error {
  text-align: left;
  padding: 5px;
  font-size: 13px;
  font-weight: normal;
  color: #bc100e;
}

